
Kaggle/Bicycle data analysis for Helsinki/database.csv/database.csv
DeepLearning.ai/Machine Learning Specialization/Advanced Learning Algorithms/Neural Networks for Handwritten Digit Recognition, Multiclass.ipynb
Datacamp/Case Study School Budgeting with Machine Learning in Python/data from jimmy/Datacamp_DataScienceTrack_Python-master/DS23 - Unsupervised Learning/Visualization with hierarchical clustering and t-SNE.ipynb
Datacamp/Case Study School Budgeting with Machine Learning in Python/data from jimmy/Datacamp_DataScienceTrack_Python-master/DS4 - ds toolbox2/.ipynb_checkpoints/List comprehensions and generators-checkpoint.ipynb
Datacamp/Case Study School Budgeting with Machine Learning in Python/data from jimmy/Datacamp_DataScienceTrack_Python-master/DS5 - ImpData1/.ipynb_checkpoints/Importing data from other file types-checkpoint.ipynb
Datacamp/Case Study School Budgeting with Machine Learning in Python/data from jimmy/Datacamp_DataScienceTrack_Python-master/DS4 - ds toolbox2/.ipynb_checkpoints/List comprehensions and generators-checkpoint.ipynb
Datacamp/Case Study School Budgeting with Machine Learning in Python/data from jimmy/Datacamp_DataScienceTrack_Python-master/DS5 - ImpData1/.ipynb_checkpoints/Importing data from other file types-checkpoint.ipynb
DeepLearning.ai/Machine Learning Specialization/Advanced Learning Algorithms/Advice for Applying Machine Learning.ipynb
Datacamp/Case Study School Budgeting with Machine Learning in Python/data from jimmy/Datacamp_DataScienceTrack_Python-master/DS6 - ImpData2/.ipynb_checkpoints/Interacting with APIs to import data from the web-checkpoint.ipynb
Datacamp/Case Study School Budgeting with Machine Learning in Python/data from jimmy/Datacamp_DataScienceTrack_Python-master/DS5 - ImpData1/.ipynb_checkpoints/Working with relational databases in Python-checkpoint.ipynb
Datacamp/Case Study School Budgeting with Machine Learning in Python/data from jimmy/Datacamp_DataScienceTrack_Python-master/DS5 - ImpData1/.ipynb_checkpoints/Importing data from other file types-checkpoint.ipynb
Datacamp/Case Study School Budgeting with Machine Learning in Python/data from jimmy/Datacamp_DataScienceTrack_Python-master/DS4 - ds toolbox2/.ipynb_checkpoints/List comprehensions and generators-checkpoint.ipynb
Datacamp/Case Study School Budgeting with Machine Learning in Python/data from jimmy/Datacamp_DataScienceTrack_Python-master/DS23 - Unsupervised Learning/Visualization with hierarchical clustering and t-SNE.ipynb
